@font-face {
  font-family: 'Forum';
  src: url('./assets/fonts/Forum-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InterNormal';
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*mixins*/
$font_inter_regular: 'InterNormal', sans-serif;
$font_inter_bold: 'InterBold', sans-serif;
$font_forum_bold: 'Forum', sans-serif;
$background_color_header: #0c0c0e;
$background_color_welcome: #0c0c0e;
$background_color_footer: #0c0c0e;
$background_color_dot_black: #0c0c0e;
$background_color_dot_light: #bb945f;
$background_color_books_line: #bb945f;
$background_color_prices_line: #bb945f;
$background_color_buttons_books: #ffffff;
$background_input_card: #bb945f;
$color_text1: #ffffff;
$color_text2: #0c0c0e;
$color_text3: #000;
$color_text4: #bb945f;
$color_text5: #8e8e8e;
$border_color_buttons: #0c0c0e;
$border_color_book_item: #000;
$border_color_input: #bb945f;
$burger-color: #0c0c0e;
$overlay-color: rgba(41, 41, 41, 0.4);
/*mixins*/
.display_none {
  display: none;
}

.body {
}
.main_container {
  display: flex;
  flex-direction: column;
  // position: relative;
  box-sizing: border-box;
  // overflow: hidden;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(41, 41, 41, 0.4);
}

.login_form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: $background_color_buttons_books;
  padding: 20px 25px;
}
.login_title {
  color: $color_text3;
  text-align: center;
  font-family: $font_forum_bold;
  font-size: 125%;
  line-height: 125%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.input_blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_block_login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input_title_login {
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 93.75%;
  line-height: 125%;
  letter-spacing: 0.3px;
}
.input_email {
  border: 1px solid $background_color_books_line;
  width: 200px;
  height: 20px;
}
.input_password {
  border: 1px solid $background_color_books_line;
  width: 200px;
  height: 20px;
}
.button_login {
  max-width: 80px;
  color: $color_text2;
  text-align: center;
  font-family: $font_inter_bold;
  font-size: 62.5%;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 20px;
  border: 1px solid $color_text2;
  background-color: $color_text1;
}
.input_links {
  margin-top: -10px;
  display: flex;
  gap: 10px;
}
.input_account {
  color: $color_text3;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: $font_inter_regular;
  font-size: 62.5%;
}
.input_link_to_register {
  color: $color_text2;
  font-family: $font_inter_bold;
  font-size: 62.5%;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration-line: underline;
  cursor: pointer;
}
.close_login {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.header {
  background-color: $background_color_header;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header_block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.h1 {
  color: $color_text1;
  font-family: $font_forum_bold;
  font-size: 187.5%;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}
.header_title {
}
.header_navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}
.burger {
  display: none;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 11px;
    position: relative;
    z-index: 4;
    width: 45px;
    height: 22.5px;
  }
  .burger-item {
    width: 45px;
    height: 2px;
    background-color: $color_text1;
  }
  @media screen and (max-width: 470px) {
    gap: 8px;
  }
}

.menu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: all 1s ease;
}

.menu_list {
  display: flex;
  gap: 30.5px;
}
.menu_item {
  transition: all 0.5s ease;
}

.menu_link {
  display: block;
  color: $color_text1;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
  transition: all 0.5s ease;
}
.menu_link:hover {
  transform: scale(1.05);
  text-decoration: underline;
}

.drop_menu {
  display: none;
  flex-direction: column;
  background-color: $background_color_buttons_books;
  gap: 20px;
  padding: 5px 10px 20px 10px;
  align-items: center;
  position: absolute;
  right: 20px;
  top: -30px;
}
.register_menu {
}

.display_flex {
  display: flex;
}
.title_register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register_title {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 93.75%;
  font-weight: 700;
  line-height: 125%;
}
.register_line {
  width: 40px;
  height: 1px;
  background-color: $background_color_books_line;
}
.register_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.register_item {
  color: $color_text3;
  text-align: center;
  font-family: $font_inter_regular;
  font-size: 93.75%;
  font-weight: 400;
  line-height: 125%;
  z-index: 3;
}
.registered_menu {
  opacity: 0;
}
.title_registered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registered_title {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 93.75%;
  font-weight: 700;
  line-height: 125%;
}
.registered_line {
  width: 40px;
  // height: 1px;
  background-color: $background_color_books_line;
}
.registered_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.registered_item {
  color: $color_text3;
  text-align: center;
  font-family: $font_inter_regular;
  font-size: 93.75%;
  font-weight: 400;
  line-height: 125%;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  // display: none;
  .menu {
    align-items: flex-start;
    position: absolute;
    right: -100%;
    // max-width: 640px;
    width: 332px;
    max-height: 570px;
    height: 100vh;
    top: 0;
    padding-top: 100px;
    padding-left: 107px;
    padding-right: 107px;
    padding-bottom: 100px;
    z-index: 3;
    background-color: $burger-color;
  }
  .menu_list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
  }
}
.log_in_block {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.log_in_image {
}
.main {
  flex: 1 1 auto;
}
.welcome {
  position: relative;
}
.welcome_block {
  padding-top: 220px;
  padding-bottom: 168px;
  display: flex;
  background-image: url('./assets/images/welcome.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 0px;
}
.welcome_title_block {
  background-color: $background_color_welcome;
  padding: 35px 40px;
}

.welcome_title {
  display: flex;
  max-width: 520px;
  color: $color_text1;
  text-align: center;
  font-family: $font_forum_bold;
  font-size: 250%;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.about {
}
.about_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 35px;
  gap: 20px;
}
.title_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.h2 {
  color: $color_text2;
  font-family: $font_forum_bold;
  font-size: 250%;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.about_title {
}
.about_line {
}
.line {
  width: 50px;
  height: 1px;
  background-color: $background_color_header;
}
.about_text {
  color: $color_text3;
  text-align: center;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  margin-top: 20px;
}
.about_slider {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 100%;
}
.slider_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.arrow {
  display: none;
}
@media screen and (max-width: 1024px) {
  .slider_container {
    gap: 58px;
  }
  .arrow {
    display: block;
    margin-top: 39.5%;
    transition: all 0.5s ease;
  }
  .arrow:hover {
    cursor: pointer;
  }
}
.container_move {
  display: flex;
  overflow: hidden;
  // min-width: 100%;
  min-width: 1400px;
  min-height: 560px;
  position: relative;
}
.container_image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 25px;
  transition: all 1s ease;
}
.slider_image_block {
  min-height: 560px;
  min-width: 450px;
  transition: all 1s ease;
}
.slider_image {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
.image4 {
  display: block;
}

.image5 {
  display: block;
}

.disabled {
  pointer-events: none;
}

@media screen and (max-width: 1214px) {
  .container_image {
    gap: 0px;
    // overflow: hidden;
  }
  .container_move {
    display: flex;
    overflow: hidden;
    min-width: 450px;
    min-height: 560px;
    position: relative;
  }
  .slider_image_block {
    min-height: 560px;
    min-width: 450px;
  }
  .image2 {
  }
  .image3 {
  }

  .about_slider {
    gap: 25px;
  }
}

.slider_dots {
  display: flex;
  margin-top: -5px;
}
.submit_area_dot {
  height: 26px;
  width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: $background_color_dot_black;
  border-radius: 50%;
}

.dot1 {
}
.dot2 {
}
.dot3 {
}
.dot4 {
  display: none;
}
.dot5 {
  display: none;
}

@media screen and (max-width: 1214px) {
  .dot4 {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dot5 {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.active_dot {
  background-color: $background_color_dot_light;
}

.not_active_dot {
  transition: all 0.5s ease;
}

.not_active_dot:hover {
  cursor: pointer;
  border: 5px outset $background_color_prices_line;
}
.favourites {
}
.favourites_block {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.input_block_favourites {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.h4 {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-weight: bold;
  font-size: 125%;
  line-height: 100%;
}
.input_title_favourites {
}
.input_forms_block {
  display: flex;
  gap: 95px;
}
@media screen and (max-width: 768px) {
  .input_block_favourites {
    position: sticky;
    top: 0px;
    z-index: 3;
  }
}

.input_form {
  display: flex;
  align-items: center;
  gap: 18px;
}

.input {
  cursor: pointer;
}
.input:hover {
  opacity: 0.5;
}

.input_label {
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 125%;
  line-height: 100%;
}
input[type='radio'] {
  accent-color: $color_text3;
  height: 17px;
  width: 17px;
}
.books_block {
  display: flex;
  width: 100%;
  margin-top: 19px;
  position: relative;
}
.books_block_season {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 260px;
  row-gap: 40px;
  padding-right: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

@media screen and (max-width: 1430px) {
  .books_block_season {
    column-gap: 80px;
  }
}
@media screen and (max-width: 1250px) {
  .books_block_season {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

.winter_block {
}
.book_item {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  padding: 15px 20px 60px 20px;
  border: 1px solid $border_color_book_item;
}

@media screen and (max-width: 1250px) {
  .book_item {
    padding: 15px 175px 60px 20px;
  }
}

.opacity {
  opacity: 1;
}
.no-opacity {
  opacity: 0;
}

.winter_book {
}
.spring_book {
}
.summer_book {
}
.autumn_book {
}
.book_block_title_block {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.h5 {
  color: $color_text3;
  font-family: $font_forum_bold;
  font-size: 125%;
  line-height: 190%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book_block_title {
}
.book_block_line {
  width: 60px;
  height: 1px;
  background-color: $background_color_books_line;
}
.book_title_block {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.h6 {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 93.75%;
  font-weight: 700;
  line-height: 266.667%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.book_title {
}
.h7 {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 93.75%;
  font-weight: 700;
  line-height: 266.667%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book_author {
}
.book_description {
  max-width: 357px;
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 93.75%;
  font-weight: 400;
  line-height: 266.667%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book_button {
  position: absolute;
  bottom: 13px;
  left: 20px;
  margin-top: -3px;
  width: 75px;
  padding: 9px 27px;
  color: $color_text2;
  text-align: center;
  font-family: $font_inter_bold;
  font-size: 62.5%;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  background-color: $background_color_buttons_books;
  border: 1px solid $border_color_buttons;
  transition: all 0.5s ease;
}
.own_button {
  position: absolute;
  bottom: 13px;
  left: 20px;
  margin-top: -3px;
  width: 75px;
  padding: 9px 27px;
  color: $color_text4;
  text-align: center;
  font-family: $font_inter_bold;
  font-size: 62.5%;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  background-color: $background_color_buttons_books;
  border: 1px solid $color_text4;
}

.own_button:disabled {
  cursor: not-allowed;
  background-color: $background_color_buttons_books;
}

.book_button:hover {
  background-color: $background_color_books_line;
  border: 1px solid $background_color_books_line;
}

@media screen and (max-width: 1024px) {
  .book_button {
    position: static;
  }
  .own_button {
    position: static;
  }
  .book_item {
    gap: 20px;
    padding: 15px 170px 13px 20px;
  }
  .button_cackle {
    margin-top: 37px;
  }

  .button_irving {
    margin-top: 77px;
  }
}
.book_image_block {
  position: absolute;
  bottom: -1px;
  right: -41px;
}
.book_image {
}
.spring_block {
}
.spring_book {
}
.summer_block {
}
.summer_book {
}
.autumn_block {
}
.autumn_book {
}
.display_none_season {
  display: none;
}

@media screen and (max-width: 1300px) {
}
.coffeeshop {
}
.coffeeshop_block {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.coffeshop_title {
}

.coffeshop_line {
}
.coffeeshop_text {
  color: $color_text3;
  text-align: center;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
}
@media screen and (max-width: 1024px) {
  .coffeeshop_text {
    letter-spacing: 1.85px;
  }
}
.coffee_shop_container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1250px) {
  .coffee_shop_container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }
}

.coffeshop_prices_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.h3 {
  font-family: $font_forum_bold;
  font-size: 250%;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.prices_title {
  color: $color_text4;
}
.prices_menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.price_item {
  width: 100%;
  display: grid;
  grid-template-columns: 230px auto auto;
  column-gap: 58px;
  align-items: center;
}

.coffee_tea_item {
  grid-template-columns: 200px auto auto;
}

.price_name {
  display: flex;
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.price_line {
  width: 100px;
  height: 1px;
  background-color: $background_color_prices_line;
}
.price_amount {
  color: $color_text3;
  font-family: $font_forum_bold;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.desserts_cakes {
}
.desserts_name_cakes {
  display: flex;
  justify-content: flex-end;
}
.desserts_name_cakes_title {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1250px) {
  .coffeshop_prices_block {
    max-width: 460px;
  }
  .desserts_cakes {
    align-self: flex-end;
  }
  .price_item {
    grid-template-columns: 220px auto auto;
  }
}

@media screen and (max-width: 1024px) {
  .price_item {
    grid-template-columns: 230px auto auto;
    column-gap: 25px;
  }
  .price_amount {
    padding-left: 12px;
  }
  .desserts_cakes {
    max-width: 570px;
  }
  .dessert_item {
    column-gap: 48px;
  }
  .desserts_name_cakes {
    padding-right: 10px;
  }
}

.contacts {
}
.contacts_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contacts_title {
}
.contacts_line {
}
.contacts_container {
  display: flex;
  justify-content: space-between;
}

.contacts_block_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts_block_container_title {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 125%;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts_tel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts_tel_item {
  display: flex;
  gap: 7px;
}
.tel_text {
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.tel_link {
  display: block;
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts_staff {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.staff_title {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 125%;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.staff_item {
  display: flex;
  gap: 7px;
}
.staff_text {
  color: $color_text3;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.staff_person {
}
.mail_link {
  color: $color_text3;
  font-family: $font_inter_bold;
  font-size: 125%;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.map {
  height: 100%;
}
.map_image {
  height: 412px;
  width: 684px;
}
@media screen and (max-width: 1430px) {
  .map_image {
    height: 360px;
    width: 600px;
  }
}

@media screen and (max-width: 1250px) {
  .contacts_container {
    flex-direction: column;
    justify-items: flex-start;
    gap: 100px;
  }
  .map_image {
    height: 414px;
    width: 696px;
  }
  .map {
    align-self: center;
  }
}

@media screen and (max-width: 1150px) {
  .map_image {
    height: 414px;
    width: 696px;
  }
}

.library_card {
}
.card {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 20px;
  padding-bottom: 41px;
}
@media screen and (max-width: 1024px) {
  .card {
    padding-top: 18px;
  }
}

.card_title {
}
.card_line {
}

.find_container {
  display: flex;
  justify-content: space-between;
}
.find_card_block {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.find_card_title {
  color: $color_text3;
  text-align: center;
  font-family: $font_inter_regular;
  font-size: 187.5%;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.6px;
}
.find_input_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 17px 17px 27px 17px;
  border: 3px solid $border_color_input;
  align-items: center;
}
.input_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 25px 20px;
  background-color: $background_input_card;
}
.input_title {
  color: $color_text3;
  font-family: $font_forum_bold;
  font-size: 187.5%;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}
.input_name {
  border-radius: 10px;
  width: 520px;
  height: 66px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.input_name::placeholder {
  color: $color_text5;
  font-family: $font_forum_bold;
  font-size: 225%;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}
.input_card {
  margin-top: 5px;
  border-radius: 10px;
  width: 520px;
  padding-left: 20px;
  padding-top: 10px;
  height: 66px;
}
.input_card::placeholder {
  color: $color_text5;
  font-family: $font_forum_bold;
  font-size: 225%;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}

.input_button {
  color: $color_text2;
  text-align: center;
  font-family: $font_inter_bold;
  font-size: 125%;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 39px;
  max-width: 250px;
  border-radius: 2px;
  border: 1px solid $border_color_buttons;
  background-color: $background_color_buttons_books;
  transition: all 0.5s ease;
}
.input_button:hover {
  background-color: $background_color_books_line;
  border: 1px solid $background_color_books_line;
}
.get_reader_block {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
}

.reader_title {
  color: $color_text3;
  font-family: $font_forum_bold;
  font-size: 187.5%;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.6px;
}
.reader_text {
  color: $color_text3;
  text-align: end;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.4px;
  max-width: 456px;
}
@media screen and (max-width: 1024px) {
  .reader_text {
    max-width: 600px;
  }
  .get_reader_block {
    gap: 41px;
  }
}
.reader_buttons_block {
  display: flex;
  gap: 20px;
}
.button_sign {
  color: $color_text2;
  text-align: center;
  font-family: $font_inter_bold;
  font-size: 62.5%;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 8px 14px;
  border-radius: 2px;
  border: 1px solid $border_color_buttons;
  background-color: $background_color_buttons_books;
  transition: all 0.5s ease;
}
.button_log {
  color: $color_text2;
  text-align: center;
  font-family: $font_inter_bold;
  font-size: 62.5%;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 9px 19px;
  border-radius: 2px;
  border: 1px solid $border_color_buttons;
  background-color: $background_color_buttons_books;
  transition: all 0.5s ease;
}
.button_sign:hover {
  background-color: $background_color_books_line;
  border: 1px solid $background_color_books_line;
}
.button_log:hover {
  background-color: $background_color_books_line;
  border: 1px solid $background_color_books_line;
}

@media screen and (max-width: 1250px) {
  .find_container {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }

  .find_card_block {
    max-width: 600px;
  }
  .get_reader_block {
    align-items: center;
  }

  .reader_text {
    text-align: center;
  }
}

.footer {
  background-color: $background_color_footer;
}

.footer_block {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 29px;
}
.common_links_block {
  color: $color_text1;
  font-family: $font_inter_regular;
  font-size: 93.75%;
  font-weight: 400;
  line-height: 133.333%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.adress_links_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adress_link_item {
  max-width: 230px;
}

.time_link_item {
  max-width: 150px;
  text-align: end;
}
.adress_link {
  color: $color_text1;
}

.adress_link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.media_links_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media_link_item {
  max-width: 230px;
}
.media_list {
  display: flex;
  gap: 16px;
}
.media_item {
}
.media_link {
}

.media_image {
  transition: all 0.5s ease;
}
.media_image:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.school_links_block {
  border-top: 1px solid $background_color_buttons_books;
  padding-top: 44px;
  padding-bottom: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.school_link_item {
  color: $color_text1;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.school_link_item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.school {
  padding-left: 75px;
}
.year {
  color: $color_text1;
  font-family: $font_inter_regular;
  font-size: 125%;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
}
.school_link {
  color: $color_text1;
}
.github_link {
  color: $color_text1;
}

@media screen and (max-width: 1024px) {
  .school {
    padding-left: 17px;
  }
  .media_list {
    display: flex;
    gap: 15px;
  }
}
